statuspanel[type="overLink"],
#statuspanel[type="overLink"] {
  top: 2em;
  z-index: 2;
  display: inline;
}

#TabsToolbar {
  visibility: collapse;
}

// customizing for tabs side-bar
#sidebar-box #sidebar-header {
  visibility: collapse;
}

#sidebar-box {
    overflow-x: hidden;
    min-width: 36px !important;
}

#toolbar-menubar {
  padding-top: 0px !important;
}

#sidebar-splitter {
    min-width: 2px !important;
    max-width: 2px !important;
}

